.img-product {
    width: 100%;
    height: 160px;
}

@media only screen and (min-width: 1024px) {
    .list-product-tablet {
        display: none !important;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .list-product-pc {
        display: none !important;
    }
}